
{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="home_banner_area banner-area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner_content d-flex flex-md-row flex-column">
              <div class="banner-left text-md-right">
                <h1 class="text-uppercase">About Us</h1>
              </div>
              <div class="banner-right position-relative">
                <p>
                  If you are looking at blank cassettes on the web, you may be very confused.
                </p>
                <span class="main_btn mt-4 mt-md-0" href="#" style="margin-right:55px;margin-bottom:5px;">
                  <a href="index.html" class="text-white">Home</a> 
                  <i class="fa fa-arrow-right mx-2"></i>
                  <a href="about.html" class="text-white">About</a> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  <section class="feature-area section_gap_top">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="single-feature">
              <img src="{% static 'img/feature/f1.png' %}" alt="">
              <h4>All Buses</h4>
              <p>
                The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
              </p>
              {% if user.is_authenticated %}
                  <a href="{% url 'buses' %}">See All Buses</a>
              {% else %}
                  <a href="{% url 'student-signup' %}">See All Buses</a>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-feature">
              <img src="{% static 'img/feature/f2.png' %}" alt="">
              <h4>Have a Question?</h4>
              <p>
                The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
              </p>
              <a href="{% url 'contact' %}">Contact Us</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-feature">
              <img src="{% static 'img/feature/f3.png' %}" alt="">
              <h4>Feedback</h4>
              <p>
                The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
              </p>
              <a href="{% url 'need-help' %}">Need Help?</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-feature">
              <img src="{% static 'img/feature/f4.png' %}" alt="">
              <h4>Get Your Pass</h4>
              <p>
                The French Revolutioncons tituted for the conscience of the dominant the French Revolutioncons.
              </p>
              <a href="">Get Pass</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 offset-md-0 col-md-12 text-left section-title-wrap mt-4 mt-lg-0">
        <h5>About Our Company</h5>
        <h2>
          We’re Carefully <br>
          Drop your <br>
          child.
        </h2>

        <h4>f you are looking at blank cassettes on the web lorem ipsum dolor sit consectetur adipisicing elit,
          eiusmod tempor incididunt.</h4>
        <p>
          If you are looking at blank cassettes on the web lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Eiusmod tempor
          incididunt ut labore et dolore magna aliqua consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
        <a href="{% url 'contact' %}" class="main_btn">Contact Us Now</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}