{% extends "base.html" %}

{% block content %}
<style>
   
    label{
        color:black;
        font-size:20px;
    }
    ul{
        color:red;
    }
    </style>
    <!--================ Home Banner Area =================-->
  <section class="home_banner_area banner-area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner_content d-flex flex-md-row flex-column">
              <div class="banner-left text-md-right">
                <h1 class="text-uppercase">All Buses</h1>
              </div>
              <div class="banner-right position-relative">
                <p>
                  If you are looking at blank cassettes on the web, you may be very confused.
                </p>
                <span class="main_btn mt-4 mt-md-0" href="#" style="margin-right:55px;margin-bottom:5px;">
                  <a href="#" class="text-white">Home</a>
                  <i class="fa fa-arrow-right mx-2"></i>
                  <a href="#" class="text-white">All Buses</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->


  <!-- ================ contact section start ================= -->
  <section class="section_gap" style="padding-top:100px">
    <div class="container">
      <div class="row justify-content-center text-left section-title-wrap" style="margin-bottom:40px">
        <div class="col-lg-12">
          <h2 class="text-white" style="color: black!important;text-align:center">
            All Buses <br>
            
          </h2>
        </div>
      </div>
      <table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Route Id</th>
						<th scope="col">Route Name</th>
						<th scope="col">Starting From</th>
            <th scope="col">Driver Name</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
				{% if all_buses %}
        {% for b in all_buses %}
        <tr>
            <td>{{ b.id }}</td>
            <td>{{ b.route }}</td>
            <td>{{ b.starting_point }}</td>
            <td>{{ b.driver_name }}</td>
            <td><a href="{% url 'details' b.id %}"><button class="btn btn-info">Details</button></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <p>No Buses available</p>
        {% endif %}
			  
         </tbody>
		</table>
    </div>
  </section>
  <!-- ================ contact section end ================= -->
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2" align="center">Reach your destination safely</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.392957439439!2d81.07141371468441!3d26.891021267497976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399958aa9da50cb7%3A0x8f5a1f4d75d0d691!2sSri%20Ramswaroop%20College%20Of%20Engineering%20and%20Management!5e0!3m2!1sen!2sin!4v1592471908815!5m2!1sen!2sin" width="1350" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
{% endblock content %}