{% extends 'base.html' %}

{% block content %}

<section class="home_banner_area banner-area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="banner_content d-flex flex-md-row flex-column">
                        <div class="banner-left text-md-right">
                            <h1 class="text-uppercase">Password Change</h1>
                        </div>
                        <div class="banner-right position-relative">
                            <p>
                                If you are looking at blank cassettes on the web, you may be very confused.
                            </p>
                            <span class="main_btn mt-4 mt-md-0" href="#" style="margin-right:55px;margin-bottom:5px;">
                                <a href="index.html" class="text-white">Password Reset</a>
                                <i class="fa fa-arrow-right mx-2"></i>
                                <a href="about.html" class="text-white">Done</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-bottom: 200px;margin-top: 100px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form >
		  <p class="m-auto p-2" style="color:black">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2" style="color:black">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'index' %}">Return to home page</a></p>
			
		</form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}